**/.settings
**/.classpath
**/.project
**/target/
**/.apt_generated
**/src-gen
**/archive/
**/test-output/
**/.DS_Store
**/.polyglot*
**/.m2/
**/*.log
**/bin/
**/.vscode/
**/bin/
/sql-structure.sql
**/build-packages.sh
*.audit
*.result
**/install/demo/*
