<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.fakturama.target" sequenceNumber="488">
<locations>

	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/nattable/releases/2.4.0/repository/"/>
		<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="2.4.0.202405230453"/>
		<unit id="org.eclipse.nebula.widgets.nattable.extension.e4.feature.feature.group" version="2.4.0.202405230453"/>
		<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.feature.feature.group" version="2.4.0.202405230453"/>
		<unit id="org.eclipse.nebula.widgets.nattable.extension.nebula.feature.feature.group" version="2.4.0.202405230453"/>
		<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="2.4.0.202405230453"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/releases/2023-06"/>
        <unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.800.v20230523-2142"/>
    	<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.109.0.v20230502-1350"/>
    	<unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.3.202209120200"/>
		<unit id="org.eclipse.sdk.feature.group" version="4.28.0.v20230605-0440"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/technology/babel/update-site/R0.20.0/2022-12/"/>
		<unit id="org.eclipse.babel.nls_eclipse_ar.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_el.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_es.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_eu.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_fr.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_hu.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_it.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_pl.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_ro.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_ru.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_sk.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_tr.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_uk.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_nl.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_eclipse_no.feature.group" version="4.26.0.v20230220105658"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository"/>
		<unit id="jakarta.xml.bind" version="2.3.3.v20221203-1659"/>
		<unit id="org.apache.xerces" version="2.12.2.v20220131-0835"/>
		<unit id="org.slf4j.ext" version="1.7.30.v20221112-0806"/>
    	<unit id="org.apache.xerces.source" version="2.12.2.v20220131-0835"/>
    	<unit id="org.hamcrest" version="2.2.0.v20210711-0821"/>
    	<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
    	<unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
    	<unit id="org.junit" version="4.13.2.v20211018-1956"/>
    	<unit id="org.junit.jupiter.api" version="5.9.1.v20221103-2317"/>
    	<unit id="org.junit.jupiter.engine" version="5.9.1.v20221103-2317"/>
    	<unit id="org.junit.jupiter.params" version="5.9.1.v20221103-2317"/>
    	<unit id="org.junit.vintage.engine" version="5.9.1.v20221103-2317"/>
    	<unit id="org.mockito.junit-jupiter" version="4.8.1.v20221103-2317"/>
    	<unit id="org.mockito.mockito-core" version="4.8.1.v20221103-2317"/>
    	<unit id="org.apache.xml.serializer" version="2.7.2.v20220406-0601"/>
		<unit id="org.bouncycastle.bcprov" version="1.72.0.v20221013-1810"/>
		<unit id="org.bouncycastle.bcpg" version="1.72.0.v20221013-1810"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://www.opcoach.com/repository/2023-06"/>
		<unit id="com.opcoach.e4.preferences.feature.feature.group" version="1.3.2"/>
		<unit id="com.opcoach.e4.preferences.feature.source.feature.group" version="1.3.2"/>
	</location>


	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/nebula/updates/milestone/S202402091246/"/>
		<!-- <unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.202402011804"/>-->
		<unit id="org.eclipse.nebula.widgets.cdatetime.css.feature.feature.group" version="1.4.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.cdatetime.feature.feature.group" version="1.5.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.opal.checkboxgroup.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.opal.commons.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.opal.duallist.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.opal.multichoice.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.passwordrevealer.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.pgroup.feature.feature.group" version="1.0.0.202402091246"/>
    	<unit id="org.eclipse.nebula.widgets.formattedtext.feature.feature.group" version="1.0.0.202402091246"/>
    	<unit id="org.eclipse.nebula.widgets.treemapper.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.picture.feature.feature.group" version="1.0.0.202402091246"/>
		<unit id="org.eclipse.nebula.widgets.radiogroup.feature.feature.group" version="0.1.0.202402091246"/>
    	<unit id="org.eclipse.nebula.cwt.feature.feature.group" version="1.1.0.202402091246"/>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Bouncycastle" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcpg-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcpkix-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcprov-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime,test,system,import" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.hsqldb</groupId>
				<artifactId>hsqldb</artifactId>
				<version>2.6.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache Commons" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>commons-beanutils</groupId>
				<artifactId>commons-beanutils</artifactId>
				<version>1.9.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-cli</groupId>
				<artifactId>commons-cli</artifactId>
				<version>1.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-codec</groupId>
				<artifactId>commons-codec</artifactId>
				<version>1.17.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-collections</groupId>
				<artifactId>commons-collections</artifactId>
				<version>3.2.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-digester</groupId>
				<artifactId>commons-digester</artifactId>
				<version>2.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-io</groupId>
				<artifactId>commons-io</artifactId>
				<version>2.17.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>commons-validator</groupId>
				<artifactId>commons-validator</artifactId>
				<version>1.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-collections4</artifactId>
				<version>4.5.0-M2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-compress</artifactId>
				<version>1.27.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-csv</artifactId>
				<version>1.12.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-lang3</artifactId>
				<version>3.17.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-text</artifactId>
				<version>1.12.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.opencsv</groupId>
				<artifactId>opencsv</artifactId>
				<version>5.8</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" label="Apache poi" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.poi</groupId>
				<artifactId>poi-ooxml</artifactId>
				<version>5.2.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.poi</groupId>
				<artifactId>poi</artifactId>
				<version>5.2.4</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache PDFbox" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.pdfbox</groupId>
				<artifactId>fontbox</artifactId>
				<version>3.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.pdfbox</groupId>
				<artifactId>pdfbox-io</artifactId>
				<version>3.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.pdfbox</groupId>
				<artifactId>pdfbox</artifactId>
				<version>3.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.pdfbox</groupId>
				<artifactId>xmpbox</artifactId>
				<version>3.0.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>net.codecrete.qrbill</groupId>
				<artifactId>qrbill-generator</artifactId>
				<version>3.0.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.nayuki</groupId>
				<artifactId>qrcodegen</artifactId>
				<version>1.8.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile,provided,runtime,test,system,import" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.google.zxing</groupId>
				<artifactId>core</artifactId>
				<version>3.5.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.google.zxing</groupId>
				<artifactId>javase</artifactId>
				<version>3.5.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.liquibase</groupId>
				<artifactId>liquibase-core</artifactId>
				<version>4.25.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.yaml</groupId>
				<artifactId>snakeyaml</artifactId>
				<version>2.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.mariadb.jdbc</groupId>
				<artifactId>mariadb-java-client</artifactId>
				<version>3.0.7</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.xmlbeans</groupId>
				<artifactId>xmlbeans</artifactId>
				<version>5.1.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile,provided,runtime,test" includeSource="true" label="Money" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>javax.money</groupId>
				<artifactId>money-api</artifactId>
				<version>1.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.javamoney.moneta</groupId>
				<artifactId>moneta-convert</artifactId>
				<version>1.4.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.javamoney.moneta</groupId>
				<artifactId>moneta-core</artifactId>
				<version>1.4.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile" label="EclipseLink" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.h2database</groupId>
				<artifactId>h2</artifactId>
				<version>2.2.224</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.mysql</groupId>
				<artifactId>mysql-connector-j</artifactId>
				<version>9.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.persistence</groupId>
				<artifactId>eclipselink</artifactId>
				<version>4.0.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.persistence</groupId>
				<artifactId>org.eclipse.persistence.asm</artifactId>
				<version>9.7.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.persistence</groupId>
				<artifactId>org.eclipse.persistence.jpa</artifactId>
				<version>4.0.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.persistence</groupId>
				<artifactId>org.eclipse.persistence.moxy</artifactId>
				<version>4.0.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.hsqldb</groupId>
				<artifactId>hsqldb</artifactId>
				<version>2.7.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.mariadb.jdbc</groupId>
				<artifactId>mariadb-java-client</artifactId>
				<version>3.4.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<exclude>jakarta.transaction:jakarta.transaction-api:2.0.1</exclude>
		<exclude>org.apache.ant:ant-launcher:1.10.13</exclude>
		<exclude>org.apache.ant:ant:1.10.13</exclude>
		<exclude>org.eclipse.angus:angus-activation:1.0.0</exclude>
		<exclude>org.eclipse.angus:angus-mail:1.0.0</exclude>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile,provided,runtime,test,system" label="Apache Jena for ODF" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>net.rootdev</groupId>
				<artifactId>java-rdfa</artifactId>
				<version>1.0.0-BETA1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.jena</groupId>
				<artifactId>jena-arq</artifactId>
				<version>4.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.jena</groupId>
				<artifactId>jena-base</artifactId>
				<version>4.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.jena</groupId>
				<artifactId>jena-core</artifactId>
				<version>4.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.jena</groupId>
				<artifactId>jena-iri</artifactId>
				<version>4.9.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.json</groupId>
				<artifactId>json</artifactId>
				<version>20231013</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>xalan</groupId>
				<artifactId>xalan</artifactId>
				<version>2.7.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.odftoolkit</groupId>
				<artifactId>odfdom-java</artifactId>
				<version>0.13.0-SNAPSHOT</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile,provided,runtime" label="Logging" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-classic</artifactId>
				<version>1.5.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>ch.qos.logback</groupId>
				<artifactId>logback-core</artifactId>
				<version>1.5.11</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>osgi-over-slf4j</artifactId>
				<version>2.0.16</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.slf4j</groupId>
				<artifactId>slf4j-api</artifactId>
				<version>2.0.16</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile,provided,runtime,system,import" label="Jakarta" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.sun.istack</groupId>
				<artifactId>istack-commons-runtime</artifactId>
				<version>4.2.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.sun.istack</groupId>
				<artifactId>istack-commons-runtime</artifactId>
				<version>4.2.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.activation</groupId>
				<artifactId>jakarta.activation-api</artifactId>
				<version>2.1.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.el</groupId>
				<artifactId>jakarta.el-api</artifactId>
				<version>5.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.enterprise</groupId>
				<artifactId>jakarta.enterprise.cdi-api</artifactId>
				<version>4.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.enterprise</groupId>
				<artifactId>jakarta.enterprise.lang-model</artifactId>
				<version>4.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.inject</groupId>
				<artifactId>jakarta.inject-api</artifactId>
				<version>2.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.interceptor</groupId>
				<artifactId>jakarta.interceptor-api</artifactId>
				<version>2.1.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.persistence</groupId>
				<artifactId>jakarta.persistence-api</artifactId>
				<version>3.1.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.servlet</groupId>
				<artifactId>jakarta.servlet-api</artifactId>
				<version>6.0.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.transaction</groupId>
				<artifactId>jakarta.transaction-api</artifactId>
				<version>2.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.xml.bind</groupId>
				<artifactId>jakarta.xml.bind-api</artifactId>
				<version>4.0.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.angus</groupId>
				<artifactId>angus-mail</artifactId>
				<version>2.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.hk2</groupId>
				<artifactId>hk2-api</artifactId>
				<version>3.0.5</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jaxb</groupId>
				<artifactId>jaxb-core</artifactId>
				<version>4.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jaxb</groupId>
				<artifactId>jaxb-runtime</artifactId>
				<version>4.0.3</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="direct" includeDependencyScopes="compile,runtime" label="OSGI" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>org.apache.aries.spifly</groupId>
				<artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
				<version>1.3.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.aries.spifly</groupId>
				<artifactId>org.apache.aries.spifly.dynamic.framework.extension</artifactId>
				<version>1.3.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.eclipse.platform</groupId>
				<artifactId>org.eclipse.equinox.ds</artifactId>
				<version>1.6.200</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.osgi</groupId>
				<artifactId>org.osgi.service.jdbc</artifactId>
				<version>1.1.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm-commons</artifactId>
				<version>9.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm-util</artifactId>
				<version>9.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.ow2.asm</groupId>
				<artifactId>asm</artifactId>
				<version>9.6</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" label="ICU" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.ibm.icu</groupId>
				<artifactId>icu4j-localespi</artifactId>
				<version>73.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.ibm.icu</groupId>
				<artifactId>icu4j</artifactId>
				<version>73.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>