[Desktop Entry]
Type=Application
Name=Fakturama2
Comment=Freie Rechnungssoftware - Vorschauversion __VERSION__
Exec=/usr/bin/fakturama2
Icon=/opt/fakturama2/icon.svg
Terminal=false
Categories=Office;Finance;
